#doc_banner {
  display: block;
  position: absolute;
  top: 8px;
  left: 10px;
  z-index: 10;
  padding: 10px 10px 10px 10px;
  color: #fff;
  background: purple no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#home_banner {
  display: block;
  position: absolute;
  top: 8px;
  left: 10px;
  z-index: 10;
  padding: 10px 10px 10px 10px;
  color: #fff;
  background: purple no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#issue_banner {
  display: block;
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') purple no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
